@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px dashed red !important; */
}
body {
  font-family: var(--font-nunito-sans), sans-serif;
  /* overflow-x: hidden; */
  background-color: var( --bg-body);
}

/* Definindo variáveis globais no arquivo CSS (geralmente em styles/globals.css ou styles/variables.css) */
/* CORES DO PROJETO 🟢 🔴 🔵 🟡 🟣*/
:root {
  --bg-button: #005cff;
  --color-bg-black: #1f1f1f;
  --bg-color-white: #f5f5f5;
  --text-color-btn:#DDDDDD;
  --color-form: #000000;
  --color-text-white: #FFFFFF;
  --color-text-red:#FF0000;
  --bg-body:#626262;
}
