/*  className="container_git" */
.container_git {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 810px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg-black);
 
}
/* camada_1 */
.camada_1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 71px;
  margin-top: 28px;
  width: 239px;
  height: 225px;
}
/* camada_2 */
.camada_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 674px;
  height: 674px;
  margin-top: 198px;
}

/* camada_3 */
.camada_3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 888px;
  height: 888px;
  margin-top: -268px;
  margin-left: 806px;
}
@media screen and (min-width: 1920px) {
  /*  className="container_git" */
.container_git {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1440px;
  height: 810px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg-black);
 
}
/* camada_1 */
.camada_1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 71px;
  margin-top: 28px;
  width: 239px;
  height: 225px;
}
/* camada_2 */
.camada_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 674px;
  height: 674px;
  margin-top: 198px;
}

/* camada_3 */
.camada_3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 888px;
  height: 888px;
  margin-top: -268px;
  margin-left: 806px;
}
}
/* 🖥️ Telas grandes (HD ou superiores) */
@media screen and (min-width: 1366px) and (max-width: 1919px) {
 
}

/* 💻 Laptops e desktops menores (modo paisagem) */
@media screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
 
}

/* 📱📲 Celulares grandes e tablets pequenos (modo retrato) */
@media screen and (min-width: 769px) and (max-width: 1023px) and (orientation: portrait) {
  /* Ex: tablets em pé, celulares grandes como iPhone Pro Max */
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  /* Ex: iPhone 12, Galaxy S21, dispositivos intermediários */
}
/* @media (max-width: 480px) */
@media (max-width: 480px) {
}

@media (max-width: 390px) {
  /*  className="container_git" */
.container_git {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1440px;
  height: 810px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg-black);
 
}
/* camada_1 */
.camada_1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 71px;
  margin-top: 28px;
  width: 239px;
  height: 225px;
}
/* camada_2 */
.camada_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 674px;
  height: 674px;
  margin-top: 198px;
}

/* camada_3 */
.camada_3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 888px;
  height: 888px;
  margin-top: -268px;
  margin-left: 806px;
}
}

@media (max-width: 320px) {
}
